{% extends 'base.html.twig' %}

{% block title %}Mes adresses{% endblock %}

{% block content %}
<section>
   <div class="row my-5">
      <div class="col-md-4"></div>
      <div class="col-md-4">
                  <div class="mx-auto">
                     <h1 class='text-center text-star '>Mes adresses</h1><hr>
                     <div class='mx-auto'><a href="{{ path('account_adress_add') }}" class="btn   ">Ajouter une adresse</a></div><br>
                     <a href="{{ path('account') }}" class='btn'>Retour</a>
                  </div>
               <hr>
                  {% if app.user.adresses|length == 0 %}
                  <div class="row">
                     <div class="col-md4"></div>
                     <div class="col-md4">
                        <p class="text-center"> Vous n'avez pas encore ajouté d'adresse dans votre compte client. Pour en ajouter une, veuillez <a href="{{ path('account_adress_add') }}" class='btn-product'>cliquer ici </a> </p> 
                     </div>
                     <div class="col-md4"></div>
                  </div>
         </div>
         <div class="col-md-4"></div>
         {% else %}
      </div>
                 
                     <div class="row justify-content-center">
                        {% for adress in app.user.adresses %}
                       
                           <div class="card me-4" style="width: 250px; height: 420px;">
                           <img src="{{ asset('asset/images/map.png') }}" style="width: 248px; height: 260px;" class=" img-fluid " alt="back-office"></a>
                              <div class="card-body">
                                 <h5 class="card-title">{{ adress.name }}</h5>
                                 <p class="card-text">
                                 {{ adress.address }} <br>
                                    {{ adress.postal }} - {{ adress.city }} - {{ adress.contry }}
                                 </p>
                                 <a href="{{ path('account_adress_edit',{'id': adress.id }) }}" class="btn-x me-3"> Modifier </a>   <a href="{{ path('account_adress_delete', { 'id': adress.id }) }}" class="btn-x"> supprimer</a>
                              </div>
                           </div>
                       
                        {% endfor %}   
                     </div>
                  {% endif %}
     
   
</section>
{% endblock %}