{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<h1>Mon compte</h1>
    bienvenue  {{app.user.firstName}}, dans cette espace
<hr>
    {% if  is_granted('ROLE_ADMIN') %}
    <a href="{{ path('admin') }}">Vous pouvez accéder au backoffice</a><br>
    {% endif %}
    <a href="{{path('account_password')}}">Modifier mon mot de passe</a><br>
    <a href="{{path('account_adress')}}">Gerer mes adresses</a> <br>
    <a href="{{path('account_order')}}">Mes commandes</a>
   
{% endblock %}
