{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block content %}
<div class="row py-5 bg-light-grey">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <h1 class='text-start text-center my-4'>Mes commandes</h1><hr>
        <a href="{{ path('account') }}" class='btn w-50 my-3'>Retour</a>
        <hr>
            {% if orders|length == 0 %}
            <p class="text-center"> Vous n'avez pas encore passé de commandes dans votre espace. </p> 
            {% else %}
            <table class="table table-hover my-5 text-center">
                    <thead>
                        <tr>
                        <th scope="col">Passé le </th>
                        <th scope="col">Reference</th>
                        <th scope="col">Produits</th>
                        <th scope="col">total</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    {% for order in orders %}
                    <tbody>
                        <tr>
                        <th >{{ order.createdAt|date('d/m/Y') }}</th>
                        <td>{{ order.reference }}</td>
                        <td>{{ order.orderDetails|length }}</td>
                        <td>{{ ((order.transportPrice + order.getTotal) /100) |number_format(2, ',', '.') }} €</td>
                        <td><a href="{{ path('account_order_show', {'reference' : order.reference }) }}">Voir ma commande</a> </td>  
                        </tr>
                        <tr>
                    </tbody>
                {% endfor %}
                    </table>
                  
            </div>
        {% endif %}
    </div>
    <div class="col-lg-3"></div>
</div>

            <div class="row">
               
              
               
{% endblock %}
