{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}
        <section class='password'>
                <div class="row ">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 my-5">
                        <span class='text-center text-danger py-5'>
                            <h1 class='fw-bold'>Modifier mon  mot de passe</h1>
                            <h3>bienvenue  {{app.user.firstName}}, dans cette espace</h3>
                        </span>
                        <hr>
                        {% if notification %}
                        <div class="alert-info alert">{{ notification }}</div>
                        {% endif %}
                        {{ form_start(form) }}
                        <div class="row ">
                            <div class="col-6 text-danger">{{ form_row(form.firstName) }}</div>
                            <div class="col-6 text-danger">{{ form_row(form.lastName) }}</div>
                            <div class="col-12 text-danger">{{ form_row(form.email) }}</div>
                            <div class="col-12 text-danger">{{ form_row(form.old_password) }}</div>
                            <div class="col-12 text-danger">{{ form_row(form.new_password) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                {{ form_row(form.submit) }}
                                <a href="{{path('account')}}" class=' ms-4 text-danger fw-bold text-decoration-none'>Retour à mon compte</a>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        {{ form_end(form) }}
                        
                    </div>
                    <div class="col-md-3"></div>
                   
                
                </div>
            </section>
{% endblock %}
            