<div class="product-item text-center my-3">
<a href="{{ path('product', {'slug': product.slug }) }}"><img style="max-width:px;"class="rounded img-fluid my-3"src="/uploads/produits/{{product.illustration}}" alt="{{product.name}}"></a>
<h4>{{ product.name }}</h4>
<span class="product-subtitle">{{ product.subtitle }}</span>
<span class="product-price">{{ (product.price /100)|number_format(2, ',', '.') }}</span>
</div>