<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="la maison de la deco " content="aaaaaaaa">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {# <link rel="stylesheet" href="{{ asset('css/final.css') }}">#}
        <link rel="stylesheet" href="{{ asset('css/declaration.css') }}"> 
        <title>La maison de la déco</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
         <!-- font awesome cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    </head>
    <body>
        <main>
         {# -------------------- navbar------------------------ #}
         <div class="holer">
          <nav class="navbar sticky-top  navbar-expand-md  bg-brown" id="navbare">
            <div class="container-fluid ">
              <div  class="m-0">
                <a class="navbar-brand  text" href="{{ path('home') }}"><img src="{{ asset('asset/images/logo_white.png') }}" alt="logo" class="logo"></a>
              </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon "></span>
              </button>
              <div class=" collapse navbar-collapse justify-content-md-center " id="navbarCollapse">
                  <ul class="navbar-nav   mb-md-0">
                    <li class="nav-item me-4">
                      <a class="nav-link page active" aria-current="page" href="{{ path('home') }}">Home</a>
                    </li>
                    <li class="nav-item me-4">
                      <a class="nav-link page" href="{{ path('products') }}"> Produits</a>
                    </li>
                    <li class="nav-item me-4">
                      <a class="nav-link page " href="{{ path('faq') }}">FAQ</a>
                    </li>
                    <li class="nav-item me-4">
                      <a class="nav-link page" href="{{ path('contact') }}">Contact</a>
                    </li>
                    {% if app.user %}
                    <li class="nav-item me-4">
                      <a class="nav-link compte" href="{{ path('account') }}">Mon compte</a>
                    </li>
                    <li class="nav-item me-4">
                      <a class="nav-link compte" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                    {% else %}
                    <li class="nav-item me-4">
                      <a class="nav-link page" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item me-4">
                      <a class="nav-link page" href="{{ path('register') }}">Inscription</a>
                    </li>
                    {% endif %}
                    <li class="nav-item me-4">
                      <a class="nav-link page" href="{{ path('cart') }}"><img src="{{ asset('asset/images/shopping-cart1.png') }}" alt="mon panier" class="cart-icone"></a>
                    </li>
                  
                  </ul>
              </div>
            </div>
            
          </nav>
           {# -------------------end of navbar------------------------- #} 
       
            
                    
          <div class="">
          {% block content %}{% endblock %}
          </div>


               
        
        
          
                 
        </main>
        
   
    
    {# ----------------- footer ------------------- #}
    <footer class = "footer bg-light-brown" id = "footer">
      <div class = "conteiner">
          <div class = "footer-content py-5 grid text-center">
              <div class = "footer-item ">
                  
                  <div class = "footer-logo"> <a href="{{ path('home') }}"><img src = "{{ asset('asset/images/logo2.png') }}"></a></div>
                 
              </div>
              
              <div class = "footer-item">
                  <h3>Contact Us</h3>
                  <p class = "text">34 rue de la faisanderie 94150 - fr </p>
                  <p class = "text">tel : (+33) 6 01 02 03 04 </p>
                  <p class = "text">Email: la.maisonde.la.deco@gmail.com</p>
                  <ul class = "social-links flex">
                  <li>
                      <a href = "#" class = "flex"><i class = "fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                      <a href = "#" class = "flex"><i class = "fab fa-instagram"></i></a>
                  </li>
                  <li>
                      <a href = "#" class = "flex"><i class = "fab fa-twitter"></i></a>
                  </li>
                  <li>
                      <a href = "#" class = "flex"><i class = "fab fa-pinterest"></i></a>
                  </li>
              </ul>
              </div>

              <div class = "footer-item">
                  <h3>Le Mag'</h3>
                  <ul>
                      <li class = "text"><a href = "#">Des idées cadeaux Kids de toutes les couleurs</a></li>
                      <li class = "text"><a href = "#">Coup de cœur pour la marque Good&Mojo</a></li>
                      <li class = "text"><a href = "#">Il est toujours
                    de bon conseil !</a></li>
                  </ul>
              </div>

              <div class = "footer-item">
                 <h3>Services</h3>
                  <ul>
                      <li class = "text"><a href = "#">Conseil et vente 0800 80 40 20</a></li>
                      <li class = "text"><a href = "#">Paiement sécurisé</a></li>
                      <li class = "text"><a href = "#">Retour gratuit</a></li>
                      
                  </ul>
              </div>
          </div>
      </div>

      <div class = "footer-end bg-dark">
          <div class = "container grid">
              <p class = "text text-white text-center">&copy; Copyright 2021. All Right Reserved. Designed and Developed by Oulaya Omar</p>
              <div class = "flex payment">
                  <img src = "{{ asset('asset/images/pay_2.png') }}">
                  <img src = "{{ asset('asset/images/pay_3.png') }}">
                  <img src = "{{ asset('asset/images/pay_4.png') }}">
                  <img src = "{{ asset('asset/images/pay_5.png') }}">
              </div>
          </div>
      </div>
    </footer>
{# -------------- end of footer --------------------------- #}
    <!-- jquery -->
    <script src = "{{ asset('js/jquery-3.6.0.js') }}"></script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    <script src="{{ asset('js/typed.min.js') }}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
      {# -----fancybox----- #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      
      
    {# {% block script %}{% endblock %}
    {% block javascript %}{% endblock %} #}

  </div>
</body>
</html>
