{% extends 'base.html.twig' %}

{% block title %}valider ma commande{% endblock %}

{% block content %}
<section class='bg-light-grey-color-shade'>
    
    <div class="row py-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 class='text-center text-star'>Je passe ma commande</h2>
        <p class='text-center text-brown'>Lorem ipsum dolor sit amet consectetur.</p>
            <div class="row">
            <div class="col-md-6 card bg-light-grey pe-2">
                
                {% set formHtml %}
                    {{ form_start(form, {action:path('order_recap')}) }}
                        {{ form_label(form.adresses, 'Choisissez votre adress de livraison ') }}
                        <a href="{{ path('account_adress_add') }}" class='text-decoration-none'>Ajouter une nouvelle adresse</a>
                       
                    {{ form_end(form) }}
                  
                {% endset  %}
                {{ formHtml|replace({'[br]' : '</br>'})|raw }}       
            
            </div>
            <div class="col-md-6 card ps-2">
                <div class="text-center">
                    <b class='text-center fw-bold '>Récap de ma commande</b><br>
                    <p class='text-center '>Retrouvez le récapitiatif de vos produits</p>
                </div>
                
                <div class="row">
                    {% for product in cart %}
                  
                        <div class="col-2">
                            <img src="/uploads/produits/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="50px" width="50px">
                        </div>
                        <div class="col-8 my-auto">
                            {{ product.product.name }} <br>
                            <small>{{ product.product.subtitle }}</small>
                        </div>
                        <div class="col-2 my-auto">
                            x {{ product.quantity }}
                        </div>                
                              
                    {% endfor %}
                </div>        
            </div>
        
    </div>
    </div>
    <div class="col-md-2"></div>
        
</div>
</section>
{% endblock %}
